<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
    .invoice-box {
        max-width: 800px;
        padding: 30px;
        margin: auto auto 0;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: center;
    }

    .invoice-box table tr td:nth-child(3) {
        text-align: right;
    }

    .invoice-box table tr td:nth-child(4) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
        text-align: right;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    .money::before {
        content: '$';
    }

    .money::after {
        content: '\00a0';
    }

    .money.neg {
        color: red;
    }

    .money.neg::before {
        content: '($';
    }

    .money.neg::after {
        content: ')';
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }

    h3, h4, h5, h6 {
       margin: 0;
    }

    @media print {
        .invoice-box {
            font-size: 12px;
            line-height: 15px;
            page-break-inside: avoid;
            page-break-before: avoid;
            page-break-after: avoid;
        }
    }
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="4">
                    <table>
                        <tr>
                            <td class="title">
                                <p><%= data.header.title %></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2"></td>
                <td colspan="2">
                    <strong>Fecha</strong> <%= data.date %>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <% if (data.header.left) { %>
                                    <%- data.header.left.join('<br>') -%>
                                    <br>
                                <% } %>
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <% if (data.header.right) { %>
                                    <%- data.header.right.join('<br>') -%>
                                    <br>
                                <% } %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td width="50%">Descripción</td>
                <td width="10%">Cantidad</td>
                <td width="20%">Valor</td>
                <td width="20%">Total</td>
            </tr>
            <% data.items.forEach(function(item, index) { %>
                <% const itemClass = index === data.items.length - 1 ? 'item last' : 'item'; %>
                <tr class="<%= itemClass %>">
                    <td><%= item.description %></td>
                    <td><%= item.qty %></td>
                    <td class="<%= filters.moneyClass(item.value) %>"><%= Math.abs(item.value).toFixed(2) -%></td>
                    <td class="<%= filters.moneyClass(item.total) %>"><%= Math.abs(item.total).toFixed(2) -%></td>
                </tr>
            <% }); %>

            <tr class="total">
                <td colspan="3" style="text-align: right">Total</td>
                <td class="<%= filters.moneyClass(data.total) %>"><%= Math.abs(data.total).toFixed(2) -%></td>
            </tr>
            <tr>
                <td colspan="4">
                    <br>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2">
                    <% if (data.signature.line) { %>
                        <%- data.signature.line -%>
                        <hr>
                    <% } %>
                    <% if (data.signature.file) { %>
                        <img width="100%" src="<%- data.signature.file -%>" alt="">
                    <% } %>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
