<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cuenta de cobro</title>

    <!--suppress CssUnusedSymbol -->
    <style>
        .invoice-box {
            max-width: 600px;
            padding: 30px;
            margin: auto auto 0;
        }

        table {
            padding: 0;
            border-spacing: 0;
            margin: auto;
            width: 100%;
        }

        body {
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 24px;
            color: #555;
            text-align: center;
        }

        h1, h2, h3, h4 {
            margin: 1em 0 0;
        }

        .info-block {
            padding-top: 1.5em;
            margin-bottom: 0.5em;
        }

        .concepts {
            border: 1px solid #333;
        }

        .footer {
            text-align: left;
        }

        .signature {
            position: relative;
            max-width: 50%;
        }

        .signature img {
            display: block;
            max-height: 100px;
            width: auto;
        }

        .heading {
            background: #ddd;
            font-weight: bold;
            text-align: center;
        }

        .written-number:first-letter {
            text-transform: uppercase;
        }

        .item {
            text-align: left;
        }

        .item td:nth-child(1) {
            padding-left: 5px;
        }

        .quantity {
            text-align: center;
        }

        .item:nth-child(odd) {
            background: #eee;
        }

        .total {
            font-weight: bold;
        }

        .money {
            text-align: right;
        }

        .money::before {
            content: '$';
        }

        .money::after {
            content: '\00a0';
        }

        .money.neg {
            color: red;
        }

        .money.neg::before {
            content: '($';
        }

        .money.neg::after {
            content: ')';
        }


        @media print {
            .invoice-box {
                font-size: 12px;
                line-height: 15px;
                page-break-inside: avoid;
                page-break-before: avoid;
                page-break-after: avoid;
            }
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <h1><%= data.header.title %></h1>
    <h4><%= data.date %></h4>

    <h3>
        <%= data.recipient.name %>
        <% if (data.recipient.document) { %>
            <br><%= data.recipient.document %>
        <% } %>
    </h3>

    <p class="info-block">Debe a: </p>

    <h2><%= data.sender.name %>
        <% if (data.sender.document) { %>
            <br><%= data.sender.document %>
        <% } %>
    </h2>

    <p class="info-block">La suma de: </p>
    <h3>
        <span class="written-number">
            <%= filters.writtenNumber(data.total) %>
        </span> dolares
        (USD $ <%= filters.moneyFormat(data.total) -%>)
    </h3>

    <p class="info-block">Por concepto de: </p>
    <table class="concepts">
        <tr class="heading">
            <td width="50%">Descripción</td>
            <td width="10%">Cantidad</td>
            <td width="20%">Valor</td>
            <td width="20%">Total</td>
        </tr>
        <% data.processedItems.forEach(function(item) { %>
            <tr class="item">
                <td><%= item.description %></td>
                <td class="quantity"><%= item.qty %></td>
                <td class="<%= filters.moneyClass(item.value) %>"><%= filters.moneyFormat(item.value) -%></td>
                <td class="<%= filters.moneyClass(item.total) %>"><%= filters.moneyFormat(item.total) -%></td>
            </tr>
        <% }); %>

        <tr class="total">
            <td colspan="3" style="text-align: right">Total</td>
            <td class="<%= filters.moneyClass(data.total) %>"><%= filters.moneyFormat(data.total) -%></td>
        </tr>
    </table>

    <% if (data.data) { %>
        <table style="text-align: left; width: 100%">
            <tr>
                <% if (data.data.left) { %>
                    <td>
                        <%- data.data.left.join('<br>') -%>
                        <br>
                    </td>
                <% } %>
                <% if (data.data.right) { %>
                    <td>
                        <%- data.data.right.join('<br>') -%>
                        <br>
                    </td>
                <% } %>
            </tr>
        </table>
    <% } %>

    <div class="footer">
        <p class="info-block">Atentamente,</p>

        <div class="signature">
            <% if (data.signatureBase64) { %>
                <img width="100%" src="<%- data.signatureBase64 -%>" alt="">
            <% } %>
            <hr>
            <%- data.sender.name -%>
        </div>
    </div>
    <% if (data.postData) { %>
    <table style="text-align: left; width: 100%">
        <tr>
            <% if (data.postData.left) { %>
                <td>
                    <%- data.postData.left.join('<br>') -%>
                    <br>
                </td>
            <% } %>
            <% if (data.postData.right) { %>
                <td>
                    <%- data.postData.right.join('<br>') -%>
                    <br>
                </td>
            <% } %>
        </tr>
    </table>
    <% } %>
</div>
</body>
</html>
